

.about-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 11%;
  margin-bottom: 15%;
}

.about-img-div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 45%;
}

.about-img {
  height: 230px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text-div {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.about-text-name-div {
  width: 30%;
}

.about-text-name-1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
  /* color: #1b8797; */
  color: black;
  margin: 5% 0 0 0;
  font-weight: 200;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

