


.monochrome-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: -2% 5%;
}

.monochrome-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 0;
}

.monochrome-list-item-1 {
  list-style-type: none;
  margin: 5%;
  padding: 0;
}

.monochrome-list-item {
  list-style-type: none;
  margin: 10%;
  padding: 0;
}
.monochrome-img {
  height: 500px;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
}

.monochrome-img-beach {
  height: 320px;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.38);
}

#scroll-your-role-id {
  background-color: #ffffff00;
  font-family: 'Reenie Beanie', cursive;
  border-radius: 100%; 
  width: 50px;
  padding: 12px 12px 12px 12px;
  font-size: 30px;
  font-weight: 400;
  border: 0px solid black;
}

#scroll-your-role-id:hover {
  background-color: #ffffff00;
  font-family: 'Reenie Beanie', cursive;
  border-radius: 100%; 
  width: 50px;
  padding: 12px 12px 12px 12px;
  font-size: 30px;
  font-weight: 400;
  color: #ec413e;
  border: 0px solid black;
}

#scroll-your-role:hover {
  background-color: #ffffff00;
  font-family: 'Reenie Beanie', cursive;
  border-radius: 100%; 
  width: 50px;
  padding: 12px 12px 12px 12px;
  font-size: 30px;
  font-weight: 400;
  color: #ec413e;
  border: 0px solid black;
}